header {
  z-index: 10000;
  position: relative; }
  header .navbar {
    margin-bottom: 0;
    height: 53px; }
    @media (min-width: 992px) {
      header .navbar {
        height: 160px; }
        header .navbar .navbar-header {
          height: 160px; }
        header .navbar .navbar-brand {
          padding-top: 65px;
          padding-left: 53%;
          font-size: 39px;
          color: black; }
        header .navbar .my-links {
          padding-top: 59px;
          font-size: 17px;
          padding-right: 8%; }
          header .navbar .my-links li {
            padding: 0px 30px; }
            header .navbar .my-links li a:active {
              color: #eb6662; }
          header .navbar .my-links li:last-child a {
            border: 1px solid #eb6662;
            border-radius: 27px;
            padding-left: 30px;
            padding-right: 30px; }
            header .navbar .my-links li:last-child a:hover {
              background-color: #eb6662;
              color: white;
              transition-duration: 0.4s; } }
    header .navbar .navbar-collapse {
      background-color: white;
      min-height: 160px !important; }

.carousel .carousel-caption h3 {
  font-size: 19px; }
.carousel .carousel-caption p {
  font-size: 9px; }
.carousel .carousel-caption .btn-carousel-explore {
  border-radius: 20px;
  padding: 6px 20px;
  opacity: 0.7; }
  .carousel .carousel-caption .btn-carousel-explore:hover {
    background-color: white;
    border: 1px solid white;
    color: #dddddd;
    transition-duration: 0.4s; }
@media (min-width: 768px) {
  .carousel .carousel-caption {
    padding-bottom: 19%; }
    .carousel .carousel-caption h3 {
      font-size: 50px; }
    .carousel .carousel-caption p {
      font-size: 24px;
      margin: 33px 0; }
    .carousel .carousel-caption .btn-carousel-explore {
      font-size: 17px;
      padding: 15px 70px;
      border-radius: 28px;
      opacity: 0.7; }
      .carousel .carousel-caption .btn-carousel-explore:hover {
        background-color: white;
        border: 1px solid white;
        color: #dddddd;
        transition-duration: 0.4s; } }

.product .product-height {
  height: 150vw; }
  @media (min-width: 992px) {
    .product .product-height {
      height: 50vw; } }
.product .product-left-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 12%;
  padding-right: 12%; }
  @media (min-width: 992px) {
    .product .product-left-holder {
      padding-right: 0; } }
  .product .product-left-holder .product-left-inner h2 {
    font-size: 40px;
    margin-bottom: 30px; }
  .product .product-left-holder .product-left-inner p {
    color: #b1b1b1;
    font-size: 15px;
    padding: 10px 0; }
  .product .product-left-holder .product-left-inner .btn-product-download {
    font-size: 17px;
    padding: 30px 70px;
    background-color: #eb6662;
    border-radius: 46px;
    color: #ffffff; }
    .product .product-left-holder .product-left-inner .btn-product-download:hover {
      background-color: #ffffff;
      color: #eb6662;
      border: 1px solid #eb6662;
      transition-duration: 0.4s; }
  @media (min-width: 992px) {
    .product .product-left-holder .product-left-inner h2 {
      font-size: 50px; }
    .product .product-left-holder .product-left-inner p {
      font-size: 25px;
      padding: 25px 0; }
    .product .product-left-holder .product-left-inner .btn-product-download {
      margin-top: 19px; } }

.works .works-title {
  position: relative;
  background-color: #f4f4f4; }
  .works .works-title h2 {
    text-align: center;
    font-size: 54px;
    padding: 42px 0;
    margin: 0; }
  .works .works-title span {
    font-size: 20px;
    float: right;
    padding-right: 20px; }
  @media (min-width: 992px) {
    .works .works-title span {
      position: absolute;
      top: 60px;
      right: 10%; } }

.team .team-title h2 {
  text-align: center;
  font-size: 54px;
  padding: 42px 0; }
.team .image-holder {
  position: relative;
  overflow: hidden;
  height: 100vw; }
  @media (min-width: 992px) {
    .team .image-holder {
      height: 20vw; } }
  .team .image-holder img {
    position: relative; }
  .team .image-holder .team-img-caption {
    position: absolute;
    top: 72%;
    color: white;
    left: 10%; }
.team .image-holder:nth-child(1) img {
  width: 273%;
  top: -72%;
  left: -81%; }
.team .image-holder:nth-child(2) img {
  width: 158%;
  left: -53%; }
.team .image-holder:nth-child(3) img {
  width: 273%;
  top: -9%;
  left: -52%; }
.team .image-holder:nth-child(4) img {
  width: 165%;
  left: -138px; }
.team .image-holder:nth-child(5) img {
  width: 225%;
  top: -21px;
  left: -283px; }

.about {
  color: #ffffff; }
  .about .about-height {
    height: 77vw; }
    @media (min-width: 992px) {
      .about .about-height {
        height: 50vw; } }
  .about .about-left-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0889ff; }
    .about .about-left-holder h2 {
      font-size: 40px;
      margin-bottom: 30px; }
    .about .about-left-holder p {
      font-size: 15px; }
    .about .about-left-holder .btn-contact-us {
      font-size: 17px;
      padding: 15px 70px;
      background-color: #0889ff;
      border-radius: 28px;
      border: 1px solid white; }
      .about .about-left-holder .btn-contact-us:hover {
        background-color: white;
        border: 1px solid #0889ff;
        color: #0889ff;
        transition-duration: 0.4s; }
    @media (min-width: 992px) {
      .about .about-left-holder h2 {
        font-size: 50px; }
      .about .about-left-holder p {
        font-size: 25px; }
      .about .about-left-holder .btn-contact-us {
        margin-top: 19px; } }

footer {
  color: #ffffff;
  padding: 0 90px;
  background-color: #1b1b1b; }
  footer a:link, footer a:visited, footer a:hover, footer a:active {
    color: #ffffff; }
  footer .footer-holder .footer-brand {
    padding: 37px 0;
    border-bottom: 1px solid #404040;
    font-size: 25px; }
  footer .footer-holder .footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px 0; }
    footer .footer-holder .footer-links .footer-nav-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex; }
      footer .footer-holder .footer-links .footer-nav-list a {
        padding: 0px 40px; }
      footer .footer-holder .footer-links .footer-nav-list a:first-child {
        padding-left: 0; }
    footer .footer-holder .footer-links .footer-social-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex; }
      footer .footer-holder .footer-links .footer-social-list a {
        padding: 0px 25px; }
      footer .footer-holder .footer-links .footer-social-list a:last-child {
        padding-right: 0; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

img {
  width: 100%; }

@media (min-width: 992px) {
  .custom-col-md-team {
    width: 20%; } }

/*# sourceMappingURL=styles.css.map */
