img {
    width: 100%;
}

.custom-col-md-team {
    @media (min-width: 992px) {
        width: 20%;
    }
}

// product
$product-btn-bg-color: #eb6662;
$product-btn-text-color: #ffffff;
$product-text-color: #b1b1b1;

// works
$works-title-bg-color: #f4f4f4;

// about
$about-bg-color: #0889ff;
$about-text-color: #ffffff;

// footer
$footer-bg-color: #1b1b1b;
$footer-divider-color: #404040;
$footer-text-color: #ffffff;

header {
    .navbar {
        margin-bottom: 0;
        height: 120px;
    }
}

.product {
    .product-height {
        height: 125vw;

        @media (min-width: 992px) {
            height: 50vw;
        }
    }

    .product-left-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 12%;
        padding-right: 12%;

        @media (min-width: 992px) {
            padding-right: 0;
        }

        .product-left-inner {
            h2 {
                font-size: 40px;
                margin-bottom: 30px;
            }

            p {
                color: $product-text-color;
                font-size: 15px;
                padding: 10px 0;
            }

            .btn-product-download {
                font-size: 17px;
                padding: 30px 70px;
                background-color: $product-btn-bg-color;
                border-radius: 46px;
                color: $product-btn-text-color;
            }

            @media (min-width: 992px) {
                h2 {
                    font-size: 50px;
                }

                p {
                    font-size: 25px;
                    padding: 25px 0;
                }

                .btn-product-download {
                    margin-top: 19px;
                }
            }
        }
    }
}

.works {
    .works-title {
        position: relative;
        background-color: $works-title-bg-color;

        h2 {
            text-align: center;
            font-size: 54px;
            padding: 42px 0;
            margin: 0;
        }

        span {
            font-size: 20px;
            float: right;
            padding-right: 20px;
        }

        @media (min-width: 992px) {
            span {
                position: absolute;
                top: 60px;
                right: 10%;
            }
        }
    }
}

.team {
    .team-title {
        h2 {
            text-align: center;
            font-size: 54px;
            padding: 42px 0;
        }
    }

    .image-holder {
        overflow: hidden;
        height: 100vw;

        @media (min-width: 992px) {
            height: 20vw;
        }

        img {
            position: relative;
        }
    }

    .image-holder:nth-child(1) {
        img {
            width: 270%;
            top: -72%;
            left: -81%;
        }
    }

    .image-holder:nth-child(2) {
        img {
            width: 156%;
            left: -53%;
        }
    }

    .image-holder:nth-child(3) {
        img {
            width: 273%;
            top: -9%;
            left: -52%;
        }
    }

    .image-holder:nth-child(4) {
        img {
            width: 165%;
            left: -138px;
        }
    }

    .image-holder:nth-child(5) {
        img {
            width: 225%;
            top: -21px;
            left: -283px;
        }
    }
}

.about {
    color: $about-text-color;

    .about-height {
        height: 60vw;

        @media (min-width: 992px) {
            height: 50vw;
        }
    }

    .about-left-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $about-bg-color;

        h2 {
            font-size: 40px;
            margin-bottom: 30px;
        }

        p {
            font-size: 15px;
        }

        .btn-contact-us {
            font-size: 17px;
            padding: 15px 70px;
            background-color: $about-bg-color;
            border-radius: 28px;
            border: 1px solid white;
        }

        @media (min-width: 992px) {
            h2 {
                font-size: 50px;
            }

            p {
                font-size: 25px;
            }

            .btn-contact-us {
                margin-top: 19px;
            }
        }
    }
}

footer {
    color: $footer-text-color;
    padding: 0 90px;
    background-color: $footer-bg-color;

    a:link, a:visited, a:hover, a:active {
        color: $footer-text-color;
    } 

    .footer-holder {
        .footer-brand {
            padding: 37px 0;
            border-bottom: 1px solid $footer-divider-color;
            font-size: 25px;
        }
        
        .footer-links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 37px 0;

            .footer-nav-list {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;

                a {
                    padding: 0px 40px;
                }

                a:first-child {
                    padding-left: 0;
                }
            }

            .footer-social-list {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;

                a {
                    padding: 0px 25px;
                }

                a:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}